#head
{
	width: 100%;
	margin: 0 0 0 0;
	position: absolute;
	top: 0;
	right: 0;
	position: fixed;
	padding: 0px;
	background-color:#e1e1e1;
}
#body
{
	width: 100%;
	margin: 0 0px 0 auto;
	padding: 50px 0px 0px;
}
#nav-cont
{
	margin-right: 10px;
	width: 15%;
	position: absolute;
	top: 58;
	left: 0;
	margin: 0px 0px 0px 19px;
	overflow: scroll;
	height: 100%;
	position: fixed;
}
#nav
{
}
#articles
{
	margin-right: 0px;
	margin-right: 50px;
	width: 80%;
	position: absolute;
	top: 50;
	right: 175;
	/* border: 1px solid #000000; */
	/* +placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
}
.article-detail
{
	float: left;
	margin-right: 10px;
	margin-right: 0;
	width: 100%;
	border-bottom: 1px solid;
	padding-left: 20px;
	padding-bottom: 2px;
}
#footer
{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	right: 0;
}
#feed
{
	margin: 0 auto 6px;
	border: 0px;
	font-weight: bold;
}
.author
{
	color: #999999;
	font-family : monospace;
	font-size : 12px;
}
.pub_date
{
        color: #999999;
        font-family : monospace;
        font-size : 12px;
	line-height:90%;
}

.header
{
	margin-left: 59px;
	margin-top: 16px;
}

DIV
{
	border: 0px solid;
/*overflow:scroll;*/
}
#feed:hover
{
	background-color: #808080;
}

/* for treeview jquery  */
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(images/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(images/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(images/treeview-red.gif); } 

.treeview-black li { background-image: url(images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(images/treeview-black.gif); }  

.treeview-gray li { background-image: url(images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(images/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(images/treeview-famfamfam.gif); } 


.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(images/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(images/file.gif) 0 0 no-repeat; }

