.column { float: left; margin-right: 10px; }
.last { margin-right: 0; }
.span-24 { width: 100%; margin: 0; }
#head { width: 100%; margin: 0 auto; position:absolute; top:0; right:0; position:fixed;} 
#body { width: 100%; margin: 0 auto; } 
#nav { margin-right: 10px; width: 10%; position:absolute; top:50; left:0; position:fixed;} 
#articles {float: left; margin-right: 20px; margin-right: 0; width: 80%; position:absolute; top:50; right:175;}
#article-detail {float: left; margin-right: 10px; margin-right: 0; width: 100%; border: 1px solid;} 
#footer { width: 100%; margin: 0 auto; position:absolute; bottom:0;  right:0;} 
#feed { margin: 0 auto; border:0px; }

div
{
  border: 0px solid;
  /* overflow:scroll; */
}

#feed:hover
{
  background-color:gray;
}

li a {
    color: green;
}
