/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*
.ui.menu.item{
    padding: .25em 1em .25em .01em;
}

.feed {
    overflow: visible;
    color: black;
}
*/

.title{
    background: #333333;
}

.active{
    background: #333333;
    background-color: #333333;
}

.item{
    background: #333333;
}

a.item{
    background: #333333;

}

div.item.title.active {
    background: #333333;
    color: #333333;

}


/*-------------------
--------------------*/
/*
#feed .sidebar {
}
#feed .grid {
  height: 100%;
}
#feed > .grid > .column {
  height: 100%;
}
#feed .inbox.tab {
  background-color: #FFFFFF;
}
#feed .inbox.tab .item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#feed .inbox.tab .item .rating {
  margin-top: 0.2rem;
}
#feed .inbox.tab .item .description {
  margin-left: 2em;
}
#feed .page {
  float: right;
  margin-top: 0.9em;
}
#feed .middle.column {
  padding: 1em 2em;
}
#feed .middle.column h2 {
  margin-top: 0em;
}
#feed .right.column {
  padding: 1em 2em;
  background-color: #FAFAFA;
}
@media only screen and (max-width : 1000px) {
  #feed .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}
@media only screen and (max-width : 1250px) {
  #feed .left.column > .menu .item {
    font-size: 1rem;
  }
}
*/

.article-detail
{
	float: left;
	/* margin-right: 10px; */
	margin-right: 0;
	width: 100%;
	border-bottom: 1px solid;
	/* padding-left: 20px; */
	padding-bottom: 2px;
}
#footer
{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	right: 0;
}

.author
{
	color: #999999;
	font-family : monospace;
	font-size : 12px;
}
.pub_date
{
    color: #999999;
    font-family : monospace;
    font-size : 12px;
	line-height:90%;
}


a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}