<!--
        Feed ID: {{ current_feed.id }} <br/>
        Feed Title: {{ current_feed.title }} <br/>
        Feed Link: {{ current_feed.link }} <br/>
        <br/>
-->


<a href="/reader">Go Back</a>

<!--
<table border="1">
{% for summary in html %}
<tr>
	<td>{% autoescape off %} {{summary}} {% endautoescape %}</td>
</tr>
{% endfor %}
</table>
-->

<table border="1">
    {% for article in articles %}
<tr>
 <td><h3><a href="{{ article.link }}">{{ article.title }}</a></h3></td>
 <td>Article ID: {{ article.id }} </td>
 <td>Article Title: {{ article.title }} </td>
 <td>Article Link: {{ article.link }} </td>
 <td>Add Date: {{ article.update_date }} </td>
 <td>{{article.content | safe }} </td>
</tr>
        {% endfor %}
</table>
