<body>
{% for article in articles %}
  <div id={{article.id}} class='article-detail'>
         <h3><a href="{{ article.link }}">{{ article.title }}</a></h3>
         <p class='pub_date'>Add Date: {{ article.update_date }}</p>
            <form action="/reader/update/{{article.id}}/" method="POST">
            {% csrf_token %}
         {% for form in formset.forms %}
            {% for hid in form.hidden_fields %}
                {% if hid.value == article.id %}
                {{ form }}
                {% endif %}
            {% endfor %}
         {% endfor %}
         <input type="submit" value="submit">
         </form>
         <br/><br/>
         {{article.content | safe }}
   </div>
{% endfor %}

</body>
