<html>
{% load staticfiles %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<title>mnml rdr</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'reader/style.css' %}" />

</head>
<body>
<div id='head'>

	  <div class='column span-8 header-l'>  <!-- 'column l' --> 
	     <p class='header'><a href='/reader/'>mnml rdr </a></p> 
	  </div> 
	  
         <div class='column span-8 header-m'>

	   {% if feed %} 
             <p class='header-m'><a href='{{feed.homepage}}'>
                 {% if feed.favico %}
                 <img src="/static/reader/favicon/{{feed.favico}}" height="16" width="16"/>
                 {% endif %}
	      {{feed.title}}</a></p>
	    {% else %}
	     <p class='header-m'><a href='{{feed.homepage}}'></a></p>
	{% endif %}
          </div>

	  <div class='column last span-8 header-r'> <!-- 'column r' --> 
	     <p class='header-r'>Edit Feeds</p>
	  </div> 
</div>


<div id='body'>
 <div id='nav-cont'>
  <div id='nav'>
    <a class="feed nav_link" style="display: block" href='/admin'>admin</a>
    <a class="feed nav_link" style="display: block" href='/reader'>reading list</a>
    <a class="feed nav_link" style="display: block" href="/reader/magic?p=1&sort=rand">magic</a> 
     <br/>
  </div>
 </div>



 <div id='articles'>

{{feed.label.id}}
ok

        <form id="article_form" action="/reader/edit/update/" method="POST">
         {% csrf_token %}
         {{ formset.management_form }}
         {% for form in formset.forms %}
                {{ form }}
	<br/>
         {% endfor %}
         <input type="submit" value="submit">
  </form>

  
</div>
</div>

<div id='footer'>
  <div class='column last span-24'>
      <p></p>
  </div>

</div>
</body>
</html>
