{% load staticfiles %}


<html>
<head><meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Reader Test [unread count]</title>
<link href="favicon.ico" rel="SHORTCUT ICON">
<meta name="application-name" content="Google Reader">
<meta name="description" content="Get all your news and blogs in one place with Google Reader">
<meta name="application-url" content="/view/">
<link rel="icon" href="./352024653-app-icon-32.png" sizes="32x32">
<link rel="icon" href="./3068170011-app-icon-64.png" sizes="64x64">
<link href="favicon.ico" rel="SHORTCUT ICON">

<!-- dunno what these do -->
<!-- 
<link rel="stylesheet" type="text/css" href="gr.css"> 
-->
<script src={% static "reader/3564210627-en-scroll.js" %} type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<link type="text/css" rel="stylesheet" href="{% static 'reader/2139832829-en-scroll.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'reader/2617741944-en-scroll_small_density.css' %}">
<!-- <link type="text/css" rel="stylesheet" href="{% static 'reader/tree_style.css' %}"> -->
</head>

<body>

<div class="" id="main" style="">
<!--
<script>
// Execute this after the site is loaded.
$(function() {
    // Find list items representing folders and
    // style them accordingly.  Also, turn them
    // into links that can expand/collapse the
    // tree leaf.
    $('li > ul').each(function(i) {
        // Find this list's parent list item.
        var parent_li = $(this).parent('li');

        // Style the list item as folder.
        parent_li.addClass('folder');

        // Temporarily remove the list from the
        // parent list item, wrap the remaining
        // text in an anchor, then reattach it.
        var sub_ul = $(this).remove();
        parent_li.wrapInner('<a/>').find('a').click(function() {
            // Make the anchor toggle the leaf display.
            sub_ul.toggle();
        });
        parent_li.append(sub_ul);
    });

    // Hide all lists except the outermost.
    $('ul ul').hide();
});
</script>
-->
<!-- left frame -->
 <div id="nav">
  <!-- logo -->
  <div id="logo-section">
   <a href="/reader/" id="logo-link">
    Reader Test
   </a>
  </div>
  <!-- sub button -->
  <div id="lhn-add-subscription-section">
   <span class="jfk-button-primary jfk-button" id="lhn-add-subscription" role="button" style="-webkit-user-select: none;" tabindex="0">
    Subscribe
   </span>
  </div>
  <!-- begin interactive block -->
  <div id="scrollable-sections-holder">
    <!-- formatting -->
<!-- TODO hardcoded height - should auto-size w CSS-->
   <div class="mouseout" id="scrollable-sections" style="height: 780px;">
    <!-- home link -->
	<div id="home-section">
     <div class="selector no-icon" id="overview-selector">
      <a class="link" href="#overview-page">
       <span class="text">
        Home
       </span>
      </a>
     </div>
    </div>
    <!-- special actions -->
	<div class="section lhn-section " id="lhn-selectors">
     <div class="section-button section-minimize" id="lhn-selectors-minimize">
     </div>
     <div aria-expanded="false" aria-haspopup="true" class="section-button section-menubutton goog-menu-button goog-inline-block" id="lhn-selectors-menubutton" role="button" style="-webkit-user-select: none;" tabindex="0">
      <div class="goog-inline-block goog-menu-button-outer-box">
       <div class="goog-inline-block goog-menu-button-inner-box">
        <div class="goog-inline-block goog-menu-button-caption">
        </div>
        <div class="goog-inline-block goog-menu-button-dropdown">
        </div>
       </div>
      </div>
     </div>
	 <!-- subscriptions top level -->
	 
     <div class="lhn-section-primary">
      <div class="selector no-icon unread" id="reading-list-selector">
       <a class="link" href="/reader/view/user/-/state/com.google/reading-list">
        <span class="text">
         <span class="label">
          All items
         </span>
         <span class="unread-count" id="reading-list-unread-count">
          [unread count]
         </span>
        </span>
       </a>
      </div>
     </div>
     <div class="lhn-section-secondary">
      <div class="selector" id="star-selector">
       <a class="link" href="/reader/view/user/-/state/com.google/starred">
        <div class="selector-icon">
        </div>
        <span class="text">
         Starred items
        </span>
       </a>
      </div>
     </div>
     <div class="selectors-footer">
     </div>
    </div>
   
	<!-- subscriptions container -->
	<div class="section lhn-section " id="lhn-subscriptions">
     <div class="section-button section-minimize" id="lhn-subscriptions-minimize">
     </div>
	 <!-- aria? -->
	 
     <div aria-expanded="false" aria-haspopup="true" class="section-button section-menubutton goog-menu-button goog-inline-block" id="lhn-subscriptions-menubutton" role="button" style="-webkit-user-select: none;" tabindex="0">
      <div class="goog-inline-block goog-menu-button-outer-box">
       <div class="goog-inline-block goog-menu-button-inner-box">
        <div class="goog-inline-block goog-menu-button-caption">
        </div>
        <div class="goog-inline-block goog-menu-button-dropdown">
        </div>
       </div>
      </div>
     </div>
	 
     <!-- subscriptions title-->
	 <div class="lhn-section-primary">
      <span class="unselectable" id="sub-tree-header">
       Subscriptions
      </span>
      <span class="hidden" id="sub-tree-refreshing">
       refreshing...
      </span>
     </div>
     <!-- top-level feeds/categories -->
	 <div class="scroll-tree-container lhn-section-secondary" id="sub-tree-container">
	 <!-- not sure -->

<!-- begin comment for tree here -->
      <ul class="scroll-tree scroll-tree-show-updated" id="sub-tree">
       <li class="folder unselectable expanded" id="sub-tree-item-0-main">
        <div class="toggle folder-toggle toggle-d-0">
        </div>
        <a class="link" href="/reader/view/user/-/state/com.google/root" id="sub-tree-item-0-link">
         <div class="icon folder-icon icon-d-0" id="sub-tree-item-0-icon">
         </div>
         <div class="name-text folder-name-text name-text-d-0 name folder-name name-d-0" id="sub-tree-item-0-name">
          root
         </div>
         <div class="unread-count folder-unread-count unread-count-d-0" id="sub-tree-item-0-unread-count">
         </div>
         <div class="tree-item-action-container">
          <div class="action tree-item-action section-button section-menubutton goog-menu-button" id="sub-tree-item-0-action">
          </div>
         </div>
        </a>
<!--end comment for tree here -->
		
		<!-- begin actual folders/feeds -->
		<!-- ul is parent container for folders and unorganized feeds -->
        <ul>
		
		{% for label in feeds_labels %}
		 
		 <!-- each li is a folder/unorg feed. folder 2 - expanded -->
         <li class="folder unselectable expanded unread" id="sub-tree-item-7-main">
	  <div class="toggle folder-toggle toggle-d-1">
          </div> 

           <div class="icon folder-icon icon-d-1" id="sub-tree-item-7-icon">
           </div>
		   
           <div class="name-text folder-name-text name-text-d-1 name folder-name name-d-1 name-unread" id="sub-tree-item-7-name">
            {{ label.label }}
           </div>
           <div class="unread-count folder-unread-count unread-count-d-1" id="sub-tree-item-7-unread-count">
            [unread for category]
           </div>
           <div class="tree-item-action-container">
            <div class="action tree-item-action section-button section-menubutton goog-menu-button" id="sub-tree-item-7-action">
            </div>
           </div>
		  
          <ul>
		  <!-- visible -->
		  {% for feed in label.feeds.all %}
           <li class="sub unselectable expanded unread" id="sub-tree-item-8-main">
            <div class="toggle sub-toggle toggle-d-2 hidden">
            </div>
            <a class="link" href="/reader/{{ feed.id }}" id="sub-tree-item-8-link">
             <div class="icon sub-icon icon-d-2 favicon" id="sub-tree-item-8-icon" style="background-image: url(insert_favicon.png)">
             </div>
             <div class="name-text sub-name-text name-text-d-2 name sub-name name-d-2 name-unread" id="sub-tree-item-8-name">
              {{ feed.title }}
             </div>
             <div class="unread-count sub-unread-count unread-count-d-2" id="sub-tree-item-8-unread-count">
              [unread count]
             </div>
             <div class="tree-item-action-container">
              <div class="action tree-item-action section-button section-menubutton goog-menu-button" id="sub-tree-item-8-action">
              </div>
             </div>
            </a>
           </li>
		   {% endfor %}
		   </ul>
         </li>
		 {% endfor %}
        </ul>
<!--begin comment for tree here -->
      </li>
      </ul>
<!--end comment for tree here -->
     </div>
    </div>
   </div>
   <!-- formatting -->
   <div id="scrollable-sections-top-shadow" style="opacity: 14.433333333333334;">
   </div>
   <!-- formatting -->
   <div id="scrollable-sections-bottom-shadow" style="opacity: 90.7;">
   </div>
  </div>
 </div>
 <div class="" id="chrome">
  <div id="chrome-viewer-container">
   <div class="" id="chrome-viewer">
   <!-- header -->
    <div id="viewer-header-container">
     <div id="viewer-header">
      <div id="viewer-top-controls-container">
	  <!-- top buttons -->
<!--
       <div id="viewer-top-controls">
        <div class="lhn-nav-button-container">
         <div class="goog-button goog-button-base unselectable goog-inline-block goog-button-float-left goog-menu-button goog-button-tight hidden" id="chrome-lhn-menu" role="wairole:button" tabindex="0">
          <div class="goog-button-base-outer-box goog-inline-block">
           <div class="goog-button-base-inner-box goog-inline-block">
            <div class="goog-button-base-pos">
             <div class="goog-button-base-content">
              <div class="goog-button-body">
               Navigation
              </div>
              <div class="goog-menu-button-dropdown">
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="goog-inline-block jfk-button jfk-button-standard viewer-buttons" id="viewer-refresh" role="button" style="-webkit-user-select: none;" tabindex="0" title="Refresh">
         <img alt="" class="jfk-button-img" src="./681661618-refresh.png"/>
        </div>
		
		
        <div aria-expanded="false" aria-haspopup="false" class="goog-inline-block goog-flat-menu-button" id="viewer-view-options" role="listbox" style="-webkit-user-select: none;" tabindex="0">
         <div class="goog-inline-block goog-flat-menu-button-caption">
          [# new items]
         </div>
         <div class="goog-inline-block goog-flat-menu-button-dropdown">
         </div>
        </div>
        <span id="mark-all-as-read-split-button">
         <div class="goog-inline-block jfk-button jfk-button-standard jfk-button-collapse-right" role="button" style="-webkit-user-select: none;" tabindex="0">
          Mark all as read
         </div>
         <div aria-haspopup="true" class="goog-inline-block goog-flat-menu-button goog-flat-menu-button-collapse-left" role="button" style="-webkit-user-select: none;" tabindex="0" title="">
          <div class="goog-inline-block goog-flat-menu-button-caption">
          </div>
          <div class="goog-inline-block goog-flat-menu-button-dropdown">
          </div>
         </div>
        </span>
        <div class="goog-button goog-button-base unselectable goog-inline-block goog-button-float-left goog-menu-button goog-button-tight" id="stream-prefs-menu" role="wairole:button" tabindex="0">
         <div class="goog-button-base-outer-box goog-inline-block">
          <div class="goog-button-base-inner-box goog-inline-block">
           <div class="goog-button-base-pos">
            <div class="goog-button-base-content">
             <div class="goog-button-body">
              Feed settings...
             </div>
             <div class="goog-menu-button-dropdown">
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <span id="settings-button-container">
         <div aria-expanded="false" aria-haspopup="true" class="goog-inline-block jfk-button jfk-button-standard viewer-buttons goog-flat-menu-button" id="settings-button" role="button" style="-webkit-user-select: none;" tabindex="0" title="Settings">
          <div class="goog-inline-block goog-flat-menu-button-caption">
           <img alt="" class="jfk-button-img" src="./345992534-settings.png"/>
          </div>
          <div class="goog-inline-block goog-flat-menu-button-dropdown">
          </div>
         </div>
        </span>
        <span id="item-up-down-buttons">
         <div class="goog-inline-block jfk-button jfk-button-standard jfk-button-collapse-right jfk-button-narrow" id="entries-up" role="button" style="-webkit-user-select: none;" tabindex="0" title="Previous item">
          <img alt="" class="jfk-button-img" src="./3978377008-up_arrow.png"/>
         </div>
         <div class="goog-inline-block jfk-button jfk-button-standard jfk-button-collapse-left jfk-button-narrow" id="entries-down" role="button" style="-webkit-user-select: none;" tabindex="0" title="Next item">
          <img alt="" class="jfk-button-img" src="./3172090053-down_arrow.png"/>
         </div>
        </span>
		

       </div>
-->
	   <!-- end top bottons -->
      </div>
     </div>
    </div>
    <div class="hidden" id="chrome-fullscreen-top-toggle">
     <div id="chrome-fullscreen-top-toggle-icon">
     </div>
    </div>
    <div id="viewer-container">
     <div class="hidden" id="activity-indicator">
      <div class="jfk-activityIndicator">
       <div>
        <div class="jfk-activityIndicator-circle-transition">
         <div class="jfk-activityIndicator-mask" style="left: 0px; top: 10px; width: 19px; height: 10px;">
          <div class="jfk-activityIndicator-circle" style="background-color: rgb(255, 255, 255); left: 0px; top: -10px;">
          </div>
          <div class="jfk-activityIndicator-circle jfk-activityIndicator-transition" style="background-color: rgb(222, 161, 26); left: 0px; top: 0px; height: 0px;">
          </div>
         </div>
         <div class="jfk-activityIndicator-mask" style="left: 0px; top: 0px; width: 19px; height: 10px;">
          <div class="jfk-activityIndicator-circle" style="background-color: rgb(255, 211, 75); display: none;">
          </div>
          <div class="jfk-activityIndicator-circle jfk-activityIndicator-transition-second" style="background-color: rgb(255, 255, 255); top: 0px; height: 19px;">
          </div>
         </div>
        </div>
       </div>
       <div class="jfk-activityIndicator-icon" style="opacity: 0;">
       </div>
      </div>
     </div>
 <!-- TODO hard coded height, fix in css -->
	 <div class="" id="viewer-entries-container" style="height: 820px; visibility: visible;">
      <div id="title-and-status-holder">
       <span id="chrome-title">
        <a href="{{feed.link}}" target="_blank">
         {{feed.title}}
        </a>
       </span>
       <span id="viewer-single-parent">
       </span>
       <span id="viewer-single-item-parent">
       </span>
       <span id="entries-status">
       </span>
       <div class="clear" style="">
       </div>
      </div>
      <div class="samedir">
       <div class="hidden" id="quick-add-success">
        You have subscribed to "
        <span id="quick-add-success-title">
         [feed title]
        </span>
        ."
       </div>
       <!-- entry 1 -->
	   <div class="single-source cards" id="entries">
	     {% for article in articles %}

  		{% if forloop.first == True %}
       		  <form action="/reader/update/{{article.feed.id}}/" method="POST">
        	  <!-- first! -->
  		{% endif %}

  		{% if article.unread == True %}
  		  {% csrf_token %}
	  	  {{ formset.management_form }}

        <div class="entry entry-{{forloop.counter0}}" style="height: auto;">

         <div class="card card-common">
		 <!-- content -->
          <div class="card-content">
           <div class="entry-container ril_marked">
            <div class="entry-main">
             <div class="entry-date">
              posted:{{article.update_date}} <br/> added:{{article.add_date}}
             </div>
             <h2 class="entry-title">
              <a class="entry-title-link" href="{{ article.link }}" target="_blank">
               {{ article.title }}
               <div class="entry-title-go-to">
               </div>
              </a>
              <span class="entry-icons-placeholder">
               <div class="entry-icons">
                <div class="item-star star link unselectable empty">
                </div>
                <div class="ril-icon clickable" href="[entry link]">
                </div>
               </div>
              </span>
             </h2>
             <div class="entry-author">
              <span class="entry-source-title-parent">
               from
               <a class="entry-source-title" href="[feed link]" target="_blank">
                [feed title]
               </a>
              </span>
<!-- TODO author not currently implemented -->			  
<!-- <span class="entry-author-parent">by <span class="entry-author-name">[post author] - (optional?)</span></span> -->
			  
             </div>
             <div class="entry-debug">
             </div>
             <div class="entry-annotations">
             </div>
             <div class="entry-body">
              <div>
               <div class="item-body">
                <div id={{article.id}}>
  <!-- begin rss HTML: "description" field? -->
	         <script>
        	   $('#{{article.id}}').click(function(){
               	   var $checkbox = $(this).find("input[name*='unread']");
               	   $checkbox.attr('checked', !$checkbox.attr('checked'));
         	   });
       		 </script>

                {% for form in formset.forms %}
            	  {% for hid in form.hidden_fields %}
                    {% if hid.value == article.id %}
                      {{ form }}
                    {% endif %}
            	  {% endfor %}
         	{% endfor %}
         <input type="submit" value="submit">
         <br/><br/>
         {{article.content | safe }}

                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
		  <!-- bottom actions -->
          <div class="card-actions card-bottom">
           <div class="entry-actions">
				Bottom Actions
           </div>
          </div>
         </div>
        </div>
       {% endif %}
	{% endfor %}
</form>
        
       </div>
      </div>
     </div>
     <div id="viewer-page-container">
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
</body>
</html>
