<html>
{% load staticfiles %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<title>mnml rdr</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'reader/style.css' %}" />

</head>
<body>
<script>
// Execute this after the site is loaded.
$(function() {
    // Find list items representing folders and
    // style them accordingly.  Also, turn them
    // into links that can expand/collapse the
    // tree leaf.

//select when ul is child of li
    $('li > ul').each(function(i) {
        // Find this list's parent list item.
        var parent_li = $(this).parent('li');

        // Style the list item as folder.
        parent_li.addClass('folder');

        // Temporarily remove the list from the
        // parent list item, wrap the remaining
        // text in an anchor, then reattach it.
        var sub_ul = $(this).remove();
        parent_li.wrapInner('<a/>').find('a').click(function() {
            // Make the anchor toggle the leaf display.
            sub_ul.toggle();
        });
        parent_li.append(sub_ul);
    });

    // Hide all lists except the outermost.
    $('ul ul').hide();
});
</script>

<div id='head'>
  <!-- div class='column last span-24' -->

	  <div class='column span-8 header-l'>  <!-- 'column l' --> 
	     <p class='header'><a href='/reader/'>mnml rdr </a></p> 
	  </div> 
	  
         <div class='column span-8 header-m'>
	   {% if feed %} 
<!-- can i use vars dynamically inside a static var?? -->
             <p class='header-m'><a href='{{feed.homepage}}'>
                 {% if feed.favico %}
                 <img src="/static/reader/favicon/{{feed.favico}}" height="16" width="16"/>
                 {% endif %}
	      {{feed.title}}</a></p>
	    {% else %}
	     <p class='header-m'><a href='{{feed.homepage}}'></a></p>
	{% endif %}
          </div>

	<script>
	/* mark all as read */				
  	$(document).ready(function(){
	    $("#select").click(function() {
	        var checkBoxes = $("input[name*='unread']");
	        checkBoxes.prop("checked", !checkBoxes.prop("checked"));
	    });
	});				
	</script>

	  <div class='column last span-8 header-r'> <!-- 'column r' --> 
	     <p class='header-r'><a href="/reader/allread/{{feed.id}}/">mark all as read</a> | <a id="select">mark screen as read</a> | <a href='/reader'>reading list</a> | <a href='/admin'>admin</a></p>
	  </div> 
  <!-- /div -->
</div>


<!-- <img src="{% static "reader/681661618-refresh.png" %}" alt="My image"/> -->


<div id='body'>

 <div id='nav-cont'>
  <div id='nav'>
    <p class='pub_date'>Last Refresh:<br /><br />{{last_update.add_date__max}}</p>
    <a class="feed nav_link" style="display: block" href='/admin'>admin</a>
    <a class="feed nav_link" style="display: block" href='/reader'>reading list</a>
    <a class="feed nav_link" style="display: block" href="/reader/magic?p=1&sort=rand">magic</a> 
     <br/>
   <ul id="navtree_ul">

{% if disp_feeds %} <!-- view specific feeds -->
  {% for feed in disp_feeds %}
   {% if feed.unread_count > 0 %} 
<div><li>
<span><a style="display: block" class="feed" href="/reader/{{ feed.id }}">
     {% if feed.favico %}            
       <img src="/static/reader/favicon/{{feed.favico}}" height="16" width="16"/>   
     {% else %}                                                    
        <img src="/static/reader/icons/feed.png" height="16" width="16"/>
     {% endif %} 
{{feed.title}} ({{feed.unread_count}})</a></span>
</li></div>
{% endif %}
{% endfor %}
{% else %} <!-- view all feeds -->
    {% for label in feeds_labels %}
	  
       <li> <!-- jquery assigns this class=folder --> 
	<span class="feed" style="display:block"><a href="/reader/magic?p=1&sort=rand&cat={{ label.label }}"><img src="/static/reader/icons/lightning.png"/></a> {{ label.label }} </span>
         <ul>
          {% for feed in label.feeds.all %}
	   {% if feed.unread_count > 0 %}
          <div class='feed'>

           <li class="feed">
             <span>
                <a style="display: block" href="/reader/{{ feed.id }}">
		    {% if feed.favico %}
			<img src="/static/reader/favicon/{{feed.favico}}" height="16" width="16"/>
		    {% else %}
                        <img src="/static/reader/icons/feed.png" height="16" width="16"/>
		    {% endif %}

                 {{ feed.title }} ({{feed.unread_count}})</a>
             </span>
           </li>
           </div>
	   {% endif %}
          {% endfor %}
         </ul>
	</li>
       
    {% endfor %}
    </ul>
{% endif %}
   </div>
 </div>



 <div id='articles'>
{% if articles %}
  {% for article in articles %}

  {% if forloop.first == True %}
       <!--  <form id="article_form" action="/reader/update/{{article.feed.id}}/" method="POST"> -->
	<form id="article_form" action="/reader/update/" method="POST">
        <!-- first! -->
  {% endif %}

<!-- only unread articles are coming from view -->
<!-- if article.unread == True -->
  {% csrf_token %}
  {{ formset.management_form }}
   <div id={{article.id}} class='article-detail'>	
        <script>
	 $('#{{article.id}}').click(function(){
               var $checkbox = $(this).find("input[name*='unread']");
               $checkbox.attr('checked', !$checkbox.attr('checked'));
         }); 
        </script>

	 <h3><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h3>
 	 <p class='pub_date'>From: <a href='{{article.feed.homepage}}'>{{article.feed.title}}</a> (<a href="/reader/{{article.feed.id }}">{{article.feed.id }}</a>)</p>
         <p class='pub_date'>Posted: {{ article.update_date }} || Retrieved: {{article.add_date}}</p>
         
<!-- there's got to be a better way to do this -->
         <p class='pub_date'>Tags:{% for label in feeds_labels %}{% for feed in label.feeds.all %}{% ifequal feed.id article.feed.id %}|<a href="/reader/magic?p=1&cat={{label}}">{{label}}</a>{% endifequal %}{%endfor%}{%endfor%}|

<!-- todo: use js to pull in form from separate page since forms can't nest -->
<!--
<form name="myform" action="" method="POST">
<input type='hidden' name='feed_id' value='{{article.feed.id}}'>
<select name="label_id" id="" onchange="this.form.submit()">
{% for label in feeds_labels %}
<option value="{{label.id}}">{{label}}</option>
{%endfor%}
</select>
</form>
-->	

	</p>

         {% for form in formset.forms %}
            {% for hid in form.hidden_fields %}
                {% if hid.value == article.id %}
                {{ form }}
                {% endif %}
            {% endfor %}
         {% endfor %}
         <input type="submit" value="submit">
         <br/><br/>
	 {{article.content | safe }} 
   </div>

        {% endfor %}
  </form>
  
  <a href='/reader/magic'>more</a>
  
  {% else %} 
    <p>No unread articles.</p> 
  {% endif %} 
</div>
</div>

<div id='footer'>
  <div class='column last span-24'>
      <p></p>
  </div>

</div>
</body>
</html>
